body, html {
  font-size: 16px;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #2c2a2b;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 0.9375em;
}

p {
  font-size: 0.8125em;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.2em;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.4em;
  }
}
button {
  cursor: pointer;
}

button::before {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(circle at 17% 25%, transparent 0, transparent 6px, #fff 7px, #fff 8px, transparent 8px), radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, #fff 3px, #fff 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, #fff 3px, #fff 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, #fff 5px, #fff 6px, transparent 6px);
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
form {
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
form .search__btn {
  display: block;
  position: relative;
  width: 50px !important;
  height: 50px !important;
  border: none;
  border-radius: 50px;
  background-color: #bf4904;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  z-index: 10;
}
form .search__btn .search__icon {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 25px;
  height: 25px;
  fill: #fff;
}

form::after {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(circle at 17% 25%, transparent 0, transparent 6px, #fff 7px, #fff 8px, transparent 8px), radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, #fff 3px, #fff 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, #fff 3px, #fff 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, #fff 5px, #fff 6px, transparent 6px);
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

form .search__btn::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 3px inset #bf4904;
  border-radius: 50px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 10px 20px;
}
.pagination .btn--inline {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border: none;
  border-radius: 50px;
  background-color: #2c2a2b;
  color: #f28705;
  transition: all 0.2s;
}

.container .search-results .results .error .icon-error {
  font-size: 32px;
}

.beer .message .message--start .icon-beer {
  position: relative;
  bottom: -2px;
}
.beer .message .message--start .icon-yeast {
  position: relative;
  bottom: -5px;
}
.beer .message .message--start .icon-food {
  position: relative;
  bottom: 3px;
}
.beer .message .message--start .icon-year {
  position: relative;
  bottom: 2px;
}
.beer .message h1 .icon-fun {
  position: relative;
  bottom: 3px;
}

@media (max-width: 500px) {
  .beer .message h3 .icon-beer {
    bottom: -2px;
  }
  .beer .message h3 .icon-yeast {
    bottom: -4px;
  }
  .beer .message h3 .icon-food {
    bottom: 1px;
  }
}
.header .header__logo {
  width: 50px;
  height: auto;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar {
  border-radius: 40px;
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #2c2a2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c2a2b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2a2b;
}

.header .search {
  display: flex;
  position: relative;
  width: min(100% - 80px, 500px);
  height: auto;
  justify-content: space-between;
  text-align: center;
  background-color: #f28705;
  border-radius: 50px;
}
.header .search input:focus {
  color: #fff;
  outline: none !important;
}
.header .search input::placeholder {
  color: #fff;
  opacity: 80%;
}
.header .search__field {
  width: min(100% - 60px, 380px);
  height: auto;
  margin-inline: auto;
  border: none;
  background-color: transparent;
  border-radius: 50px;
  padding: 0 15px;
}

.header .search::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border: 3px inset #bf4904;
  border-radius: 50px;
  z-index: -1;
}

.beer .spinner {
  position: relative;
  margin: 10px auto;
  border: 5px solid #fff;
  border-top: 5px solid #f29f05;
  border-right: 5px solid #f28705;
  border-left: 5px solid #bf4904;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container .spinner {
  position: relative;
  margin: 10px auto;
  border: 5px solid #fff;
  border-top: 5px solid #f29f05;
  border-right: 5px solid #f28705;
  border-left: 5px solid #bf4904;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.beer {
  display: grid;
  position: relative;
  width: 95%;
  height: auto;
  margin: 20px auto;
}
.beer .message-shadow {
  filter: drop-shadow(0 0 20px rgba(242, 159, 5, 0.3));
}
.beer .message-shadow .message {
  display: grid;
  position: relative;
  width: min(100%, 600px);
  margin-inline: auto;
  color: #fff;
  place-items: center;
  text-align: center;
  min-height: 900px;
  background: linear-gradient(135deg, #f29f05, #bf4904);
  clip-path: polygon(85% 100%, 70% 75%, 95% 25%, 80% 0%, 20% 0%, 5% 25%, 30% 75%, 15% 100%);
  z-index: 0;
}
.beer .message-shadow .message .message--start {
  width: 70%;
}
.beer .message-shadow .message .message--start ul {
  font-size: 1.5rem;
  margin: 10px auto;
}
.beer .message-shadow .message .message--start ul li {
  margin-top: 30px;
}
.beer .message-shadow .message .message--fun {
  margin-top: 180px;
  padding: 0 60px;
}
.beer .beer-info .beer-info__name {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #f29f05;
  color: #2c2a2b;
  font-weight: 800;
  z-index: 0;
}
.beer .beer-info .beer-info__brewed {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #f29f05;
  color: #2c2a2b;
  z-index: -1;
}
.beer .beer-info .beer-info-flex {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #f29f05;
  color: #2c2a2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: -2;
}
.beer .beer-info .beer-info-flex .beer-info__tagline {
  font-weight: 400;
  font-style: italic;
}
.beer .beer-info .beer-info-flex .beer-info--abv-ibu-og-w {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}
.beer .beer-info .beer-info-flex .beer-info--abv-ibu-og-w .beer-info--abv-w {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
}
.beer .beer-info .beer-info-flex .beer-info--abv-ibu-og-w .beer-info--abv-w .beer-info--abv-val {
  font-weight: 400;
  padding: 0 5px;
}
.beer .beer-info .beer-info-flex .beer-info--abv-ibu-og-w .beer-info--ibu-w {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
}
.beer .beer-info .beer-info-flex .beer-info--abv-ibu-og-w .beer-info--ibu-w .beer-info--ibu-val {
  font-weight: 400;
  padding: 0 5px;
}
.beer .beer-info .beer-info-flex .beer-info--abv-ibu-og-w .beer-info--og-w {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
}
.beer .beer-info .beer-info-flex .beer-info--abv-ibu-og-w .beer-info--og-w .beer-info--og-val {
  font-weight: 400;
  padding: 0 5px;
}
.beer .cards-w {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 300px);
  grid-template-areas: "description ingredients image" "basics ingredients image" "method food tip";
  width: 100%;
  height: auto;
  margin: 30px auto;
  place-content: center;
  place-items: center;
  gap: 15px;
}
.beer .cards-w .cards__description {
  background-color: #f29f05;
  border-radius: 50px;
  width: 300px;
  height: 300px;
  grid-area: description;
}
.beer .cards-w .cards__description .cards__description--title {
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #2c2a2b;
}
.beer .cards-w .cards__description .cards__description--text {
  text-align: left;
  padding: 20px 25px;
  margin-bottom: 5px;
}
.beer .cards-w .cards__basics > div {
  display: inline-flex;
  position: relative;
}
.beer .cards-w .cards__basics {
  background-color: #f29f05;
  border-radius: 50px;
  width: 300px;
  height: 300px;
  text-align: left;
  grid-area: basics;
}
.beer .cards-w .cards__basics .cards__basics--title {
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #2c2a2b;
}
.beer .cards-w .cards__basics .cards__basics--unit-details-w {
  flex-direction: column;
  text-align: left;
  margin: 20px 0px 20px 40px;
}
.beer .cards-w .cards__basics .cards__basics--unit-details-w .cards__basics--unit-details {
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 0;
  width: 150px;
}
.beer .cards-w .cards__basics .cards__basics--unit-EU-w {
  flex-direction: column;
  margin: 0 1px;
}
.beer .cards-w .cards__basics .cards__basics--unit-EU-w .cards__basics--unit-EU {
  padding: 3px 0;
}
.beer .cards-w .cards__basics .cards__basics--unit-US-w {
  flex-direction: column;
  margin: 0 1px;
}
.beer .cards-w .cards__basics .cards__basics--unit-US-w .cards__basics--unit-US {
  padding: 3px 0;
}
.beer .cards-w .cards__method > div {
  display: inline-flex;
  position: relative;
}
.beer .cards-w .cards__method {
  background-color: #f29f05;
  border-radius: 50px;
  width: 300px;
  height: 150px;
  text-align: center;
  grid-area: method;
}
.beer .cards-w .cards__method .cards__method--title {
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #2c2a2b;
}
.beer .cards-w .cards__method .cards__method--details-w {
  flex-direction: column;
  text-align: left;
  margin: 10px 10px;
}
.beer .cards-w .cards__method .cards__method--details-w .cards__method--details {
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 0;
  width: 150px;
}
.beer .cards-w .cards__method .cards__method--unit-EU-w {
  flex-direction: column;
  text-align: left;
  margin: 10px 10px;
}
.beer .cards-w .cards__method .cards__method--unit-EU-w .cards__method--unit-EU {
  padding: 3px 0;
}
.beer .cards-w .cards__method .cards__method--unit-US-w {
  flex-direction: column;
  text-align: left;
  margin: 10px 10px;
}
.beer .cards-w .cards__method .cards__method--unit-US-w .cards__method--unit-US {
  padding: 3px 0;
}
.beer .cards-w .cards__ingredients > div {
  display: inline-flex;
  position: relative;
}
.beer .cards-w .cards__ingredients {
  background-color: #f29f05;
  border-radius: 50px;
  width: 300px;
  height: 615px;
  text-align: center;
  grid-area: ingredients;
}
.beer .cards-w .cards__ingredients .cards__ingredients--title {
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #2c2a2b;
}
.beer .cards-w .cards__ingredients .cards__ingredients--malt-title {
  font-weight: 800;
  text-transform: uppercase;
  padding: 0px 20px;
  margin-top: 40px;
  text-align: left;
}
.beer .cards-w .cards__ingredients .cards__ingredients--malt-details-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--malt-details-w .cards__ingredients--malt-details {
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 0;
  width: 150px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--malt-unit-EU-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--malt-unit-EU-w .cards__ingredients--malt-unit-EU {
  padding: 3px 0;
}
.beer .cards-w .cards__ingredients .cards__ingredients--malt-unit-US-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--malt-unit-US-w .cards__ingredients--malt-unit-US {
  padding: 3px 0;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-title {
  font-weight: 800;
  text-transform: uppercase;
  padding: 0px 20px;
  margin-top: 40px;
  text-align: left;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-details-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
  max-width: 100px;
  transform: translateY(22px);
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-details-w .cards__ingredients--hops-details {
  font-weight: 600;
  text-transform: uppercase;
  padding: 3px 0;
  width: 150px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-unit-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-unit-w .cards__ingredients--hops-unit-t {
  padding: 3px 0;
  font-weight: 600;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-unit-w .cards__ingredients--hops-unit {
  padding: 3px 0;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-add-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-add-w .cards__ingredients--hops-add-t {
  padding: 3px 0;
  font-weight: 600;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-add-w .cards__ingredients--hops-add {
  padding: 3px 0;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-attribute-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-attribute-w .cards__ingredients--hops-attribute-t {
  padding: 3px 0;
  font-weight: 600;
}
.beer .cards-w .cards__ingredients .cards__ingredients--hops-attribute-w .cards__ingredients--hops-attribute {
  padding: 3px 0;
}
.beer .cards-w .cards__ingredients .cards__ingredients--yeast-title {
  font-weight: 800;
  text-transform: uppercase;
  padding: 0px 20px;
  margin-top: 40px;
  text-align: left;
}
.beer .cards-w .cards__ingredients .cards__ingredients--yeast-details-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}
.beer .cards-w .cards__ingredients .cards__ingredients--yeast-details-w .cards__ingredients--yeast-details {
  padding: 3px 0;
}
.beer .cards-w .cards__food > div {
  display: inline-flex;
  position: relative;
}
.beer .cards-w .cards__food {
  background-color: #f29f05;
  border-radius: 50px;
  width: 300px;
  height: 150px;
  grid-area: food;
}
.beer .cards-w .cards__food .cards__food--title {
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #2c2a2b;
}
.beer .cards-w .cards__food .cards__food--text {
  text-align: left;
  padding: 8px 25px;
  margin-bottom: 10px;
}
.beer .cards-w .cards__image {
  background-color: #bf4904;
  border-radius: 50px;
  width: 300px;
  height: 615px;
  display: grid;
  position: relative;
  place-content: center;
  grid-area: image;
}
.beer .cards-w .cards__image .cards__image--img {
  max-height: 605px;
  max-width: 280px;
}
.beer .cards-w .cards__tip > div {
  display: inline-flex;
  position: relative;
}
.beer .cards-w .cards__tip {
  background-color: #f29f05;
  border-radius: 50px;
  width: 300px;
  height: 150px;
  overflow-y: scroll;
  grid-area: tip;
}
.beer .cards-w .cards__tip .cards__tip--title {
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #2c2a2b;
}
.beer .cards-w .cards__tip .cards__tip--text {
  text-align: left;
  padding: 8px 25px;
  margin-bottom: 10px;
}

@media (max-width: 1285px) {
  .beer .beer-info .beer-info-flex .beer-info--abv-ibu-og-w {
    display: none;
  }
  .beer .cards-w {
    grid-template-columns: repeat(2, 300px);
    grid-template-areas: "description image" "basics image" "method ingredients" "tip ingredients" "food ingredients";
  }
  .beer .cards-w .cards__method .cards__method--details-w {
    margin: 15px 10px;
  }
}
@media (max-width: 960px) {
  .beer .beer-info {
    text-align: center;
  }
  .beer .beer-info .beer-info-flex .beer-info__tagline {
    width: 100%;
  }
  .beer .cards-w {
    grid-template-columns: 300px;
    grid-template-areas: "image" "description" "ingredients" "basics" "method" "food" "tip";
  }
  .beer .cards-w .cards__description {
    height: auto;
  }
  .beer .cards-w .cards__ingredients {
    height: auto;
  }
  .beer .cards-w .cards__ingredients .cards__ingredients--yeast-details-w {
    margin-bottom: 20px;
  }
  .beer .cards-w .cards__ingredients .cards__ingredients--malt-title {
    margin-top: 20px;
  }
  .beer .cards-w .cards__basics {
    height: auto;
  }
  .beer .cards-w .cards__method {
    height: auto;
  }
  .beer .cards-w .cards__food {
    height: auto;
  }
  .beer .cards-w .cards__tip {
    height: auto;
  }
}
@media (max-width: 768px) {
  .beer .beer-info {
    text-align: center;
  }
  .beer .beer-info .beer-info-flex {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .beer .message-shadow .message .message--start {
    width: 65%;
  }
  .beer .beer-info .beer-info__name {
    padding: 3px 20px;
  }
  .beer .beer-info .beer-info__brewed {
    padding: 8px 20px;
  }
  .beer .cards-w .cards__ingredients .cards__ingredients--malt-title {
    padding: 0px 20px;
    margin-top: 20px;
  }
}
body {
  background-color: #2c2a2b;
}

.container {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-template-columns: 300px minmax(min-content, 100%);
}
.container .search-results {
  grid-column: 1/2;
}
.container .beer {
  width: 90%;
  height: auto;
  grid-column: 2/3;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
    grid-template-areas: "results" "cards";
  }
  .container .search-results {
    grid-area: results;
  }
  .container .beer {
    grid-area: cards;
    grid-column: 1/1;
  }
}
.footer {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  color: #fff;
  background-color: #bf4904;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border-radius: 50px 50px 0 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}
.footer a {
  color: #fff;
  font-weight: 600;
  margin: 0 4px;
}
.footer a:hover {
  color: #f29f05;
  transition: all 0.3s;
}
.footer .logo_github {
  margin-left: 20px;
}

.header {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  color: #fff;
  background-color: #f29f05;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 10px;
  border-radius: 0 0 50px 50px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", sans-serif;
  z-index: 1;
}

.search-results {
  display: block;
  position: relative;
  height: fit-content;
  top: -90px;
  padding: 100px 0;
  background-color: #f28705;
  border-radius: 0 0 50px 0px;
  z-index: 0;
}
.search-results .results {
  margin-bottom: 10px;
}
.search-results .results .error {
  display: flex;
  color: #fff;
  width: min(100% - 80px, 300px);
  margin-inline: auto;
  margin-top: 60px;
  gap: 10px;
}
.search-results .results .preview {
  padding: 10px;
  border-block-start: 5px solid;
  border-image-source: linear-gradient(90deg, #2c2a2b, #f28705);
  border-image-slice: 1;
}
.search-results .results .preview .preview__link {
  color: #2c2a2b;
}
.search-results .results .preview .preview__link .preview__data .preview__malt {
  font-style: italic;
}
.search-results .results .selected {
  background-color: #f29f05;
}
.search-results .results .preview:hover {
  background-color: #f29f05;
  transition: all 0.3s;
}
.search-results .results .preview:focus {
  background-color: #f29f05;
  transition: all 0.3s;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .search-results {
    width: 100%;
  }
  .search-results .results > :not(.error) {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
