@use "../abstract/variables";
@use "../abstract/mixins";

::-webkit-scrollbar {
  border-radius: 40px;
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: variables.$dark-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: variables.$dark-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: variables.$dark-color;
}
