@use "../abstract/variables";
@use "../abstract/mixins";

.header {
  .search {
    display: flex;
    position: relative;
    width: min(100% - 80px, 500px);
    height: auto;
    justify-content: space-between;
    text-align: center;
    background-color: variables.$secondary-color;
    border-radius: 50px;
    
    input:focus {
      color: variables.$light-color;
      outline: none !important;
    }
    
    input::placeholder {
      color: variables.$light-color;
      opacity: 80%;
    }
  }
  
  .search__field {
    width: min(100% - 60px, 380px);
    height: auto;
    margin-inline: auto;
    border: variables.$reset-border;
    background-color: transparent;
    border-radius: 50px;
    padding: 0 15px;
  }
}

.header {
  .search::before {
    content: "";
    position: absolute;
    top: -3px; // outline-width: 3px;
    right: -3px; // outline-width: 3px;
    bottom: -3px; // outline-width: 3px;
    left: -3px; // outline-width: 3px;
    border: 3px inset variables.$tertiary-color;
    border-radius: 50px;
    z-index: -1;
  }
}