@use "../abstract/variables";
@use "../abstract/mixins";

.header {
  .search {
    display: flex;
    position: relative;
    width: 500px;
    height: auto;
    justify-content: space-between;
    text-align: center;
    background-color: variables.$secondary-color;
    border-radius: 50px;
    outline-color: variables.$tertiary-color;
    outline-style: inset;
    outline-width: 4px;

    input:focus {
      color: variables.$light-color;
      outline: none !important;
    }

    input::placeholder {
      color: variables.$light-color;
      opacity: 80%;
    }
  }

  .search__field {
    width: 85%;
    height: auto;
    border: variables.$reset-border;
    background-color: variables.$secondary-color;
    border-radius: 50px;
    padding: 0 25px;
  }
}

.header {
  .search::before {
    content: "";
    position: absolute;
    top: -3px; // border: 2px + offset: 1px
    right: -3px; // border: 2px + offset: 1px
    bottom: -3px; // border: 2px + offset: 1px
    left: -3px; // border: 2px + offset: 1px
    border-radius: 51px; // border—radius: 6px + offset: 1px
  }
}

@media (max-width: 1200px) {
  .header {
    .search {
      width: 400px;

      input::placeholder {
        width: 100%;
      }
    }
    .search__field {
      width: 85%;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .search {
      width: 300px;
    }
  }
}

@media (max-width: 500px) {
  .header {
    .search {
      width: 290px;
    }

    .search__field {
      width: 82%;
      padding: 0 13px;
    }
  }
}
