@use "../abstract/variables";
@use "../abstract/mixins";

.beer {
  @include mixins.beer-grid;
  .message-shadow {
    filter: drop-shadow(0 0 20px rgba(variables.$primary-color, 0.3));
  

    .message {
      @include mixins.beer-message;
      z-index: 0;

      .message--start {
        width: 61%;

        ul {
          font-size: 1.5rem;
          margin: 10px auto;
          li {
            margin-top: 30px;
          }
        }
      }

      .message--fun {
        margin-top: 0px;
        padding: 0 60px;
      }
    }
  }

  .beer-info {
    .beer-info__name {
      @include mixins.beer-info;
      font-weight: variables.$font-weigth-large;
      z-index: 0;
    }
    .beer-info__brewed {
      @include mixins.beer-info;
      z-index: -1;
    }

    .beer-info-flex {
      @include mixins.beer-info;
      @include mixins.beer-info-flex;
      z-index: -2;

      .beer-info__tagline {
        font-weight: variables.$font-weigth-small;
        font-style: italic;
      }

      .beer-info--abv-ibu-og-w {
        @include mixins.beer-info--abv-ibu-og-w;

        .beer-info--abv-w {
          @include mixins.beer-info--abv-ibu-og;

          .beer-info--abv-val {
            @include mixins.beer-info--abv-ibu-val;
          }
        }
        .beer-info--ibu-w {
          @include mixins.beer-info--abv-ibu-og;

          .beer-info--ibu-val {
            @include mixins.beer-info--abv-ibu-val;
          }
        }
        .beer-info--og-w {
          @include mixins.beer-info--abv-ibu-og;

          .beer-info--og-val {
            @include mixins.beer-info--abv-ibu-val;
          }
        }
      }
    }
  }

  .cards-w {
    @include mixins.cards-w;

    .cards__description {
      @include mixins.cards-bg;
      @include mixins.card-medium;
      grid-area: description;

      .cards__description--title {
        @include mixins.cards-title;
      }
      .cards__description--text {
        @include mixins.cards-description;
      }
    }

    .cards__basics > div {
      @include mixins.cards-only-div;
    }

    .cards__basics {
      @include mixins.cards-bg;
      @include mixins.card-medium;
      text-align: left;
      grid-area: basics;

      .cards__basics--title {
        @include mixins.cards-title;
      }
      .cards__basics--unit-details-w {
        @include mixins.cards-details-w;

        .cards__basics--unit-details {
          @include mixins.cards-details;
        }
      }
      .cards__basics--unit-EU-w {
        @include mixins.cards-unit-w;

        .cards__basics--unit-EU {
          @include mixins.cards-unit;
        }
      }
      .cards__basics--unit-US-w {
        @include mixins.cards-unit-w;

        .cards__basics--unit-US {
          @include mixins.cards-unit;
        }
      }
    }

    .cards__method > div {
      @include mixins.cards-only-div;
    }

    .cards__method {
      @include mixins.cards-bg;
      @include mixins.card-small;
      text-align: center;
      grid-area: method;

      .cards__method--title {
        @include mixins.cards-title;
      }

      .cards__method--details-w {
        @include mixins.cards-details-method-w;

        .cards__method--details {
          @include mixins.cards-details;
        }
      }

      .cards__method--unit-EU-w {
        @include mixins.cards-details-method-w;

        .cards__method--unit-EU {
          @include mixins.cards-unit;
        }
      }

      .cards__method--unit-US-w {
        @include mixins.cards-details-method-w;

        .cards__method--unit-US {
          @include mixins.cards-unit;
        }
      }
    }

    .cards__ingredients > div {
      @include mixins.cards-only-div;
    }

    .cards__ingredients {
      @include mixins.cards-bg;
      @include mixins.card-large;
      text-align: center;
      grid-area: ingredients;

      .cards__ingredients--title {
        @include mixins.cards-title;
      }

      .cards__ingredients--malt-title {
        @include mixins.cards-ingredients-title;
      }

      .cards__ingredients--malt-details-w {
        @include mixins.cards-details-ingredients-w;

        .cards__ingredients--malt-details {
          @include mixins.cards-details;
        }
      }

      .cards__ingredients--malt-unit-EU-w {
        @include mixins.cards-details-ingredients-w;
        .cards__ingredients--malt-unit-EU {
          @include mixins.cards-unit;
        }
      }

      .cards__ingredients--malt-unit-US-w {
        @include mixins.cards-details-ingredients-w;
        .cards__ingredients--malt-unit-US {
          @include mixins.cards-unit;
        }
      }

      .cards__ingredients--hops-title {
        @include mixins.cards-ingredients-title;
      }

      .cards__ingredients--hops-details-w {
        @include mixins.cards-details-ingredients-w;
        max-width: 100px;
        transform: translateY(22px);

        .cards__ingredients--hops-details {
          @include mixins.cards-details;
        }
      }

      .cards__ingredients--hops-unit-w {
        @include mixins.cards-details-ingredients-w;

        .cards__ingredients--hops-unit-t {
          @include mixins.cards-unit;
          font-weight: variables.$font-weigth-medium;
        }

        .cards__ingredients--hops-unit {
          @include mixins.cards-unit;
        }
      }

      .cards__ingredients--hops-add-w {
        @include mixins.cards-details-ingredients-w;

        .cards__ingredients--hops-add-t {
          @include mixins.cards-unit;
          font-weight: variables.$font-weigth-medium;
        }

        .cards__ingredients--hops-add {
          @include mixins.cards-unit;
        }
      }

      .cards__ingredients--hops-attribute-w {
        @include mixins.cards-details-ingredients-w;

        .cards__ingredients--hops-attribute-t {
          @include mixins.cards-unit;
          font-weight: variables.$font-weigth-medium;
        }

        .cards__ingredients--hops-attribute {
          @include mixins.cards-unit;
        }
      }

      .cards__ingredients--yeast-title {
        @include mixins.cards-ingredients-title;
      }

      .cards__ingredients--yeast-details-w {
        @include mixins.cards-details-ingredients-w;
        .cards__ingredients--yeast-details {
          @include mixins.cards-unit;
        }
      }
    }

    .cards__food > div {
      @include mixins.cards-only-div;
    }
    .cards__food {
      @include mixins.cards-bg;
      @include mixins.card-small;
      grid-area: food;

      .cards__food--title {
        @include mixins.cards-title;
      }

      .cards__food--text {
        @include mixins.cards-description-tip-food;
      }
    }
    .cards__image {
      @include mixins.cards-bg-image;
      @include mixins.card-large;
      @include mixins.card-image;

      .cards__image--img {
        @include mixins.card-image-size;
      }
    }
    .cards__tip > div {
      @include mixins.cards-only-div;
    }

    .cards__tip {
      @include mixins.cards-bg;
      @include mixins.card-small;
      overflow-y: scroll;
      grid-area: tip;

      .cards__tip--title {
        @include mixins.cards-title;
      }

      .cards__tip--text {
        @include mixins.cards-description-tip-food;
      }
    }
  }
}

// MEDIA QUERY
@media (max-width: 1285px) {
  .beer {
    .beer-info {
      .beer-info-flex {
        .beer-info--abv-ibu-og-w {
          display: none;
        }
      }
    }

    .cards-w {
      @include mixins.cards-w-1285;

      .cards__method {
        .cards__method--details-w {
          @include mixins.cards-details-method-w-1285;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .beer {
    .message-shadow {
      .message {
        .message--start {
          width: 50%;
        }
        .message--fun {
          width: 70%;
        }
      }
    }
    .beer-info {
      @include mixins.beer-info-960;
      .beer-info-flex {
        .beer-info__tagline {
          width: 100%;
        }
      }
    }
    .cards-w {
      @include mixins.cards-w-960;

      .cards__description {
        height: auto;
      }
      .cards__ingredients {
        height: auto;

        .cards__ingredients--yeast-details-w {
          @include mixins.cards-details-ingredients-yeast-w-960;
        }

        .cards__ingredients--malt-title {
          @include mixins.cards-ingredients-title-960;
        }
      }
      .cards__basics {
        height: auto;
      }
      .cards__method {
        height: auto;
      }
      .cards__food {
        height: auto;
      }
      .cards__tip {
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .beer {
    .message-shadow {
      .message {
        .message--fun {
          width: 70%;
        }
      }
    }
    .beer-info {
      text-align: center;

      .beer-info-flex {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .beer {
    .message-shadow {
      .message {
        .message--start {
          width: 40%;
        }
        .message--fun {
          width: 60%;
        }
      }
    }
    
    .beer-info {
      .beer-info__name {
        padding: 3px 20px;
      }

      .beer-info__brewed {
        padding: 8px 20px;
      }
    }

    .cards-w {
      .cards__ingredients {
        .cards__ingredients--malt-title {
          @include mixins.cards-ingredients-malt-title-500;
        }
      }
    }
  }
}
