@use "../abstract/variables";
@use "../abstract/mixins";

.container {
  .error {
    @include mixins.beer-message;
  }

  display: grid;
  grid-template-columns: minmax(265px, max-content) minmax(min-content, 90%);

  .search-results {
    grid-column: 1/2;
  }

  .beer {
    grid-column: 2/3;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "results"
      "cards";

    .search-results {
      grid-area: results;
    }

    .beer {
      grid-area: beer;
      grid-column: 1/1;
      margin-top: -50px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 500px) {
  .container {
    .error {
      @include mixins.beer-message-500;
    }
  }
}

@media (max-width: 400px) {
  .container {
    .error {
      @include mixins.beer-message-400;
    }
  }
}
