@use "../abstract/variables";
@use "../abstract/mixins";

.container {
  
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-template-columns: 300px minmax(min-content, 100%);

  .search-results {
    grid-column: 1/2;
  }

  .beer {
    width: 90%;
    height: auto;
    // place-content: start center;
    grid-column: 2/3;
  }
}

@media (max-width: 768px) {
  .container {
    // width: 100%;
    // height: auto;
    grid-template-columns: 100%;
    grid-template-areas:
      "results"
      "cards";

    .search-results {
      grid-area: results;
    }

    .beer {
      grid-area: cards;
      grid-column: 1/1;
    }
  }
}
