@use "../abstract/variables";
@use "../abstract/mixins";

.footer {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  color: variables.$light-color;
  background-color: variables.$footer-bg-color;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border-radius: variables.$border-radius-footer;
  box-shadow: variables.$box-shadow;

  a {
    color: variables.$light-color;
    font-weight: variables.$font-weigth-medium;
    margin: 0 4px;
  }

  a:hover {
    color: variables.$primary-color;
    transition: all 0.3s;
  }

  .logo_github {
    margin-left: 20px;
  }
}
