@use "../abstract/variables";
@use "../abstract/mixins";

.search-results {
  
  display: block;
  position: relative;
  height: fit-content;
  top: -90px;
  padding-bottom: 80px;
  background-color: variables.$results-bg-color;
  border-radius: variables.$border-radius-results;
  z-index: 0;
  
  .results {
    margin: 100px 0 0 0;
    
    .error {
      width: 100%;
    }
    
    .preview {
      padding: 10px;
      border-block-start: 5px solid;
      border-image-source: linear-gradient(90deg, variables.$dark-color, variables.$secondary-color);
      border-image-slice: 1;
      
      
      .preview__link {
        color: variables.$dark-color;
        
        .preview__data {
          .preview__malt {
            font-style: italic;
          }
        }
      }
    }
    
    .selected {
      background-color: variables.$primary-color;
    }
    
    .preview:hover {
      background-color: variables.$primary-color;
      transition: all 0.3s;
      
    }
    .preview:focus {
      background-color: variables.$primary-color;
      transition: all 0.3s;
    }
  }
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .search-results {
    width: 100%;

    .results {
      text-align: center;
    }
  }
}
