@use "../abstract/variables";

//reset
@mixin reset-box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin reset-margin-padding {
  margin: 0;
  padding: 0;
}

//beer
@mixin beer-grid {
  position: relative;
  width: 90%;
  min-height: 100vh;
  margin: 20px auto 0;
}

@mixin beer-message {
  position: relative;
  width: 60%;
  height: auto;
  color: variables.$light-color;
  margin: 80px auto 0;
  padding: 50px;
}

@mixin beer-message-768 {
  width: 80%;
  padding: 80px;
}

@mixin beer-message-500 {
  width: 100%;
}

@mixin beer-message-400 {
  margin-top: 120px;
  padding: 30px;
}

@mixin spinner {
  .spinner {
    position: relative;
    margin: 10px auto;
    border: 5px solid variables.$light-color;
    border-top: 5px solid variables.$primary-color;
    border-right: 5px solid variables.$secondary-color;
    border-left: 5px solid variables.$tertiary-color;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin beer-info {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  padding: 5px 25px;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
  background-color: variables.$primary-color;
  color: variables.$dark-color;
}

@mixin beer-info-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin beer-info--abv-ibu-og-w {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

@mixin beer-info--abv-ibu-og {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
}

@mixin beer-info--abv-ibu-val {
  font-weight: variables.$font-weigth-small;
  padding: 0 5px;
}

//cards
@mixin cards-w {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 300px);
  grid-template-areas:
    "description ingredients image"
    "basics ingredients image"
    "method food tip";
  width: 100%;
  height: auto;
  margin: 30px auto;
  place-content: center;
  place-items: center;
  gap: 15px;
}

@mixin cards-w-1200 {
  grid-template-columns: repeat(2, 300px);
  grid-template-areas:
    "description image"
    "basics image"
    "method ingredients"
    "tip ingredients"
    "food ingredients";
}

@mixin cards-w-960 {
  grid-template-columns: 300px;
  grid-template-areas:
    "image"
    "description"
    "ingredients"
    "basics"
    "method"
    "food"
    "tip";
}

@mixin cards-bg {
  background-color: variables.$primary-color;
  border-radius: variables.$border-radius;
}

@mixin cards-title {
  font-weight: variables.$font-weigth-large;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid variables.$dark-color;
}

@mixin cards-description {
  text-align: left;
  padding: 20px 25px;
  margin-bottom: 5px;
}

@mixin cards-description-tip-food {
  text-align: left;
  padding: 8px 25px;
  margin-bottom: 10px;
}

@mixin cards-only-div {
  display: inline-flex;
  position: relative;
}

@mixin cards-details-w {
  flex-direction: column;
  text-align: left;
  margin: 20px 40px;
}

@mixin cards-details-method-w {
  flex-direction: column;
  text-align: left;
  margin: 10px 10px;
}
@mixin cards-details-method-w-1200 {
  margin: 15px 10px;
}

@mixin cards-details-ingredients-w {
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
}

@mixin cards-details-ingredients-yeast-w-960 {
  margin-bottom: 20px;
}

@mixin cards-details-w-500 {
  margin: 20px 40px;
}

@mixin cards-details {
  font-weight: variables.$font-weigth-medium;
  text-transform: uppercase;
  padding: 3px 0;
}

@mixin cards-unit-w {
  flex-direction: column;
  margin: 0 1px;
}

@mixin cards-unit {
  padding: 3px 0;
}

@mixin cards-ingredients-title {
  font-weight: variables.$font-weigth-large;
  text-transform: uppercase;
  padding: 0px 20px;
  margin-top: 40px;
  text-align: left;
}
@mixin cards-ingredients-title-960 {
  margin-top: 20px;
}

@mixin cards-ingredients-malt-title-500 {
  padding: 0px 20px;
  margin-top: 20px;
}

@mixin card-large {
  width: 300px;
  height: 615px;
}

@mixin card-medium {
  width: 300px;
  height: 300px;
}

@mixin card-small {
  width: 300px;
  height: 150px;
}
