// Typography
$ff: "Segoe UI", sans-serif;

$h1-size: 2.25em;
$h2-size: 1.875em;
$h3-size: 1.75em;
$h4-size: 1.25em;
$h5-size: 0.9375em;
$p-size: 0.75em;

$h1-size-500: 2em;
$h2-size-500: 1.5em;
$h3-size-500: 1.2em;

$h1-size-400: 1.8em;

$font-weigth-small: 400;
$font-weigth-medium: 600;
$font-weigth-large: 800;

%font-size-default {
  font-size: 16px;
}

// Color
$primary-color: #f29f05;
$secondary-color: #f28705;
$tertiary-color: #bf4904;

$dark-color: #2c2a2b;
$light-color: #fff;

$btn-text-color: $secondary-color;
$body-bg-color: $dark-color;
$header-bg-color: $primary-color;
$header-text-color: $light-color;
$search-bg-color: $secondary-color;
$placeholder-text-color: $light-color;
$placeholder-bg-color: $secondary-color;
$btn-search-color: $tertiary-color;
$btn-pagination-color: $dark-color;
$icon-color: $light-color;
$results-bg-color: $secondary-color;
$footer-bg-color: $tertiary-color;

// Decoration
$reset-list-style-type: none;
$reset-border: none;
$text-decoration: none;
$border-radius: 50px;
$border-radius-header: 0 0 50px 50px;
$border-radius-results: 0 0 50px 0px;
$border-radius-footer: 50px 50px 0 0;
$border-radius-beer: 50px 50px 0 0;
$box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
